p {
  font-size: 25px;
  font-weight: 400;
}
small {
  font-size: 20px;
}

button {
  margin: 0px 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:active {
  color: blue;
}
footer {
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.202);
  border-radius: 10px;
  color: #171515;
}
#whole {
  display: block;
  margin: 50px auto;
  padding: 50px;
  border: 2px solid rgb(133, 130, 130);
  border-radius: 20px;
}
.nav-bar {
  background-color: rgba(212, 212, 212, 0.716);
  margin: -10px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.search-box {
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: red;
  font-size: 20px;
  height: 50px;
  width: 100%;
}
.button {
  padding: 5px 20px;
  justify-content: space-evenly;
  display: flex;
}
.location h1 {
  color: red;
}
.location h3 {
  color: rgb(254, 81, 81);
}
.icon {
  font-size: 60px;
}
.weather {
  background-color: rgba(212, 212, 212, 0.716);
  padding: 20px;
  border-radius: 10px;
}
.temp {
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
}
.celsius {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.degrees {
  font-size: 15px;
  font-weight: 20px;
}
/* .weekday {
  padding-top: 20px;
  text-align: center;
} */
.weather_sub {
  color: gray;
  font-weight: 40px;
}
.git {
  margin: 5px;
  margin-left: 0px;
}
.git_logo {
  width: 20px;
  padding-bottom: 5px;
  border-radius: 110%;
}
.git-link {
  text-decoration: underline;
  color: rgba(110, 13, 229, 0.971);
}
.git-link :visited {
  color: red;
}
.total-temp {
  display: flex;
}
@media (max-width: 750px) {
  .temp {
    font-size: 80px;
  }
  celsius {
    font-size: 15px;
  }
  .weather {
    padding-left: 0px;
  }
  .search-box {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  body {
    text-align: center;
  }
  li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 18px;
  }
  p {
    font-size: 35px;
  }
  .location h3 {
    font-size: 40px;
  }

  .col-6 {
    width: 100%;
  }
  .button {
    margin-left: 2.8rem;
    margin-top: 0.5rem;
  }
  .temp {
    margin-left: 6.5rem;
  }
}
@media (max-width: 410px) {
  .temp {
    margin-left: 5rem
  }
  li {
    display: block;
  }
}